<template>
  <div id="app" class="row">
    <div class="col-sm-3">
      <EmployeeList v-bind:employees="employees" v-on:selected="selectEmployee" />
    </div>
    <div class="col-sm-9">
      <FloorPlan v-bind:plan="floorPlan" v-bind:employee="employee" />
    </div>
  </div>
</template>

<script>
import "bootstrap";
import "bootstrap/dist/css/bootstrap.css";

import employees from "./assets/employees.json";
import buildings from "./assets/buildings.json";

import EmployeeList from "./components/EmployeeList.vue";
import FloorPlan from "./components/FloorPlan.vue";

export default {
  name: "app",
  components: {
    EmployeeList,
    FloorPlan
  },
  data: function() {
    return {
      employee: {},
      floorPlan: ""
    };
  },
  computed: {
    employees: () => {
      return employees;
    }
  },
  methods: {
    selectEmployee: function(payload) {
      this.floorPlan =
        buildings[payload.employee.building][payload.employee.floor].plan;
      // wait for the next tick so there is a floor plan to modify to show an employee
      this.$nextTick(function() {
        this.employee = payload.employee;
      });
    }
  }
};
</script>

<style>

</style>
