<template>
<div>
  <div class="search-bar">
    <input id="employee-search" v-model="searchString" type="text" placeholder="Search for an employee..." class="form-control border-bottom-0 rounded-0"/>
  </div>
  <div class="list-group rounded-0">
    <Employee v-for="employee in employeeList" v-bind:key="employee.id" v-bind:employee="employee" v-on:selected="selected"></Employee>
  </div>
</div>
</template>

<script>
import Employee from "./Employee.vue";

export default {
  name: 'EmployeeList',
  components: {
    Employee
  },
  data: function() {
    return {
      searchString: ''
    }
  },
  props: [
    'employees'
  ],
  computed: {
    employeeList: function() {
      if(!this.searchString || this.searchString.length == 0) {
        return this.employees;
      }

      // save this because this is about to disappear in the closure below
      const search = this.searchString.toLowerCase();
      return this.employees.filter(function(employee, index, array) {
        return employee.name.toLowerCase().includes(search);
      });
    }
  },
  methods: {
    selected: function(payload) {
      this.$emit('selected', { employee: payload.employee });
    }
  }
}
</script>

<style>

</style>
