<template>
<a href="#" class="list-group-item list-group-item-action flex-column align-items-start rounded-0" v-on:click="selected">
	<div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{employee.name}}</h5>
    </div>
    <p class="mb-1">Employee position</p>
    <small>{{employee.building}}</small><br />
	<small>Floor {{employee.floor}}</small><br />
	<small>Space {{employee.space}}</small>
</a>
</template>
<script>
export default {
  name: "Employee",
  components: {},
  props: ["employee"],
  methods: {
    selected: function() {
      this.$emit("selected", { employee: this.employee });
    }
  }
};
</script>

