<template>
<div id="floorPlan">
</div>
</template>

<script>
import SVG from "svgjs";
var $ = require("jquery");

var draw = {};

function selectEmployee(employee) {
  const svg = $("#floorPlan");
  const selector = `title:contains('Employee Space.${employee.space}')`;
  const space = svg.find(selector);
  const graphic = space.parent();
  graphic.show("fast");
  graphic.siblings().each(function(i, element) {
    if ($(element).find("title:contains('Employee Space')").length > 0) {
      $(element).hide();
    }
  });
}

export default {
  name: "FloorPlan",
  props: ["plan", "employee"],
  watch: {
    plan: function(val) {
      var ajax = new XMLHttpRequest();
      ajax.open("GET", "/static/" + val, true);
      ajax.send();
      ajax.onload = e => {
        draw.svg(ajax.responseText);
        selectEmployee(this.employee);
      };
    },
    employee: function(val) {
      selectEmployee(val);
    }
  },
  mounted: function() {
    draw = SVG("floorPlan");
  }
};
</script>

<style>
#floorPlan {
  height: 100vh;
  width: 100%;
}
</style>
